<h1>Create product</h1>
<form method="post" action="create_post">
    <div class="mb-3">
        <label for="image" class="form-label">Link ảnh sản phẩm</label>
        <input type="text" name="image" class="form-control" id="image" >
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Tên sản phẩm</label>
        <input type="text" name="name" class="form-control" id="name" >
    </div>
    <div class="mb-3">
        <label for="brand" class="form-label">Tên thương hiệu</label>
        <input type="text" name="brand" class="form-control" id="brand" >
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Giá tiền</label>
        <input type="text" name="price" class="form-control" id="price">
    </div>
    
    <button type="submit" class="btn btn-primary">Thêm mới sản phẩm</button>
</form>